{% extends "base.html" %}
{% load static %}
{% block title %}Project Details{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1 id="project-title">{{ project.name }}</h1>
    <div>
      <a href="{% url 'project_list' %}" class="btn btn-secondary me-2">Back to Projects</a>
      <a href="{% url 'export_tasks_csv' project.id %}" class="btn btn-info">Export</a>
    </div>
  </div>

  <ul class="nav nav-tabs mt-4" id="projectTabs" role="tablist">
    <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tasks">Tasks</button></li>
    <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#adoption">Adoption</button></li>
    <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#contacts">Contacts</button></li>
    <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#info">Project Info</button></li>
  </ul>

  <div class="d-flex justify-content-end mb-3">
    {% if show_closed %}
      <a href="?show_closed=0" class="btn btn-outline-secondary btn-sm">Hide Completed/Cancelled</a>
    {% else %}
      <a href="?show_closed=1" class="btn btn-outline-secondary btn-sm">Show All Statuses</a>
    {% endif %}
  </div>

  <div class="tab-content p-3 border border-top-0">
    <div class="tab-pane fade show active" id="tasks">
      {% include "project/tabs/tasks.html" %}
    </div>
    <div class="tab-pane fade" id="adoption">
      {% include "project/tabs/adoption.html" %}
    </div>
    <div class="tab-pane fade" id="contacts">
      {% include "project/tabs/contacts.html" %}
    </div>
    <div class="tab-pane fade" id="info">
      {% include "project/tabs/info.html" %}
    </div>
  </div>
</div>

{% include "partials/delete_contact_modal.html" %}
<script src="{% static 'js/project_detail.js' %}"></script>
<script src="{% static 'js/contacts.js' %}"></script>
{% endblock %}
